.word {
  font-size: 1.5em;
  background: #6a96bd;
  color: black;
  margin: 1em 0.35em;
  border-radius: 0.15em;
}

.iconContainer {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.likeDislike {
  padding: 3%;
  font-size: 1.25em;
  color: #ffffff;
  border-radius: 25%;
  cursor: pointer;
}
